body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
  position: absolute;
  width: 664px;
  height: 663px;
  display: grid;
  background-color: #000;
  grid-template-columns: 36px 80px 120px 161px 161px 43px 43px;
  grid-template-rows: 36px 65px 52px 137px 115px 101px 40px 48px 45px;
  grid-gap: 3px;
  border: 3px solid #000;
}

#black1,
#black2,
#black3,
#black4 {
  background-color: #232629;
}
#gray1,
#gray2,
#gray3,
#gray4,
#gray5 {
  background-color: #939490;
}
#red1,
#red2,
#red3 {
  background-color: #e72f24;
}
#blue1,
#blue2,
#blue3 {
  background-color: #004592;
}
#yellow1,
#yellow2,
#yellow3,
#yellow4 {
  background-color: #f9d01e;
}
#white1,
#white2,
#white3,
#white4,
#white5,
#white6,
#white7,
#white8 {
  background-color: #f0f1ec;
}

#black1 {
  order: 0;
  grid-column: 1/2;
  grid-row: 1/4;
}
#gray1 {
  order: 1;
  grid-column: 2/4;
  grid-row: 1/2;
}
#red1 {
  order: 2;
  grid-column: 2/3;
  grid-row: 2/4;
}
#white1 {
  order: 3;
  grid-column: 3/4;
  grid-row: 2/4;
}
#white2 {
  order: 4;
  grid-column: 4/5;
  grid-row: 1/3;
}
#yellow1 {
  order: 5;
  grid-column: 4/5;
  grid-row: 3/4;
}
#gray2 {
  order: 6;
  grid-column: 5/6;
  grid-row: 1/3;
}
#blue1 {
  order: 7;
  grid-column: 5/6;
  grid-row: 3/4;
}
#yellow2 {
  order: 8;
  grid-column: 6/8;
  grid-row: 1/4;
}
#white3 {
  order: 9;
  grid-column: 1/2;
  grid-row: 4/6;
}
#blue2 {
  order: 10;
  grid-column: 2/4;
  grid-row: 4/5;
}
#black2 {
  order: 11;
  grid-column: 2/4;
  grid-row: 5/6;
}
#yellow3 {
  order: 12;
  grid-column: 4/5;
  grid-row: 4/5;
}
#white4 {
  order: 13;
  grid-column: 4/5;
  grid-row: 5/6;
}
#gray3 {
  order: 14;
  grid-column: 5/6;
  grid-row: 4/5;
}
#black3 {
  order: 15;
  grid-column: 5/6;
  grid-row: 5/7;
}
#red2 {
  order: 16;
  grid-column: 6/7;
  grid-row: 4/7;
}
#white5 {
  order: 17;
  grid-column: 7/8;
  grid-row: 4/7;
}
#gray4 {
  order: 18;
  grid-column: 1/3;
  grid-row: 6/8;
}
#red3 {
  order: 19;
  grid-column: 3/4;
  grid-row: 6/9;
}
#white6 {
  order: 20;
  grid-column: 4/5;
  grid-row: 6/7;
}
#white7 {
  order: 21;
  grid-column: 1/3;
  grid-row: 8/10;
}
#black4 {
  order: 22;
  grid-column: 3/5;
  grid-row: 9/10;
}
#blue3 {
  order: 23;
  grid-column: 4/5;
  grid-row: 7/9;
}
#yellow4 {
  order: 24;
  grid-column: 5/6;
  grid-row: 7/9;
}
#gray5 {
  order: 25;
  grid-column: 5/6;
  grid-row: 9/10;
}
#white8 {
  order: 26;
  grid-column: 6/8;
  grid-row: 7/10;
}
